<!-- Header, Description, Today's Date, Time -->
<header class="jumbotron">
    <h1 class="display-4 text-center">EAT-DA-BURGER!</h1>
    <p class="lead text-center">The burger tracker you didn't know you needed</p>
</header>

{{!-- Container --}}
<div class="container">

    {{!-- Form Row--}}
    <div class="row">
        {{!-- col 12 --}}

        {{!-- Form box, text, submit button --}}
    {{!-- End Form Row --}}
    </div>

    {{!-- Burgers Row --}}
    <div class="row">
        {{!-- to be devoured--}}
        <div class="col-6">
            <h2 class="text-center">Try Me!</h2>
            <ul>
            {{#each burgersNotDevoured}}
                {{> burgers/burgerNotDevoured-block}}
            {{/each}}
            </ul>
        </div>
        {{!-- devoured --}}
        <div class="col-6">
            <h2 class="text-center">Tried and True!</h2>
            <ul>
            {{#each burgersDevoured}}
                {{> burgers/burgerDevoured-block}}
            {{/each}}
            </ul>
        </div>
        </div>
    {{!-- End Burger Row --}}
    </div>

{{!-- End Container --}}
</div>