<!-- Header, Description, Today's Date, Time -->
<header class="jumbotron">
    <h1 class="display-4 text-center">EAT-DA-BURGER!</h1>
    <p class="lead text-center">The burger tracker you didn't know you needed</p>
</header>

{{!-- Container --}}

{{!-- row --}}

    {{!-- col 12 --}}

    {{!-- Form box, text, submit button --}}

{{!-- row --}}

    {{!-- col 6 - to be devoured--}}

        {{!-- List of non-devoured burgers with Devour it! button --}}

    {{!-- col 6 - devoured --}}

        {{!-- List of devoured burgers with delete button --}}

