<li class="d-flex justify-content-between align-items-center">
	<span class="d-inline-flex">{{burger_name}}</span>

	<button class="change-devoured d-inline-flex text-nowrap" data-id="{{this.id}}" data-newdevoured="{{devoured}}">
		Eat me!
	</button>

</li>
