<li class="d-flex justify-content-between align-items-center">
	<span class="d-inline-flex">{{burger_name}}</span>

	<button class="change-devoured d-inline-flex text-nowrap btn btn-outline-success ml-1" data-id="{{id}}">
		Eat me!
	</button>

</li>
