<li class="d-flex justify-content-between align-items-center">
	<span class="d-inline-flex">{{burger_name}}</span>

	<button class="delete-burger d-inline-flex text-nowrap" data-id="{{this.id}}">
		Delete me!
	</button>

</li>
